<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name %>
  </div>

  <%= f.fields_for :address do |address| %>
    <div class="field">
      <%= address.label :number %><br>
      <%= address.number_field :number %>
    </div>
    <div class="field">
      <%= address.label :street %><br>
      <%= address.text_field :street %>
    </div>
    <div class="field">
      <%= address.label :zip_code %><br>
      <%= address.text_field :zip_code %>
    </div>
    <div class="field">
      <%= address.label :city %><br>
      <%= address.text_field :city %>
    </div>
    <div class="field">
      <%= address.label :country %><br>
      <%= address.text_field :country %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
