<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>Todo list</h1>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <%= render 'addbar' %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table table-responsive'>
        <% @tasks.each do |task| %>
          <tr>
             <td>
             <%= render_status_button(task) %>
            </td>
             <td>
              <%= link_to render_title_link(task), task_path(task) %>
            </td>
            <td>
              <%= render_task_edit_button(task) %>
              <%= render_task_delete_button(task) %>
            </td>
          </tr>
        <% end %>
      </ul>
    </div>
  </div>
</div>
