<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>Todo list</h1>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <%= render 'addbar' %>
    </div>
  </div>
</div>

<div class ='container'>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills" role="tablist">
        <li>
          <%= link_to root_path, role: 'presentation' do %>
            All <span class='badge' ><%= Task.all.count %> </span>
        <% end %>
        </li>
        <li>
          <%= link_to root_path(filter: :uncomplete), role: 'presentation' do %>
            Uncomplete <span class='badge badge-error' ><%= Task.uncomplete.count %> </span>
        <% end %>
        </li>
        <li>
          <%= link_to root_path(filter: :complete), role: 'presentation' do %>
            Complete <span class='badge badge-success' ><%= Task.complete.count %> </span>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class ='container'>
  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table table-responsive'>
        <% @tasks.each do |task| %>
          <tr>
             <td>
             <%= render_status_button(task) %>
            </td>
             <td>
              <%= link_to render_task_title(task), task_path(task) %>
            </td>
            <td>
              <%= render_task_edit_button(task) %>
              <%= render_task_delete_button(task) %>
            </td>
          </tr>
        <% end %>
      </ul>
    </div>
  </div>
</div>
