<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
     <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <%= f.text_field :email_confirmation %>
  </div>
  <%= f.fields_for :address do |a| %>
    <div class="field">
      <%= a.label :number %><br>
      <%= a.number_field :number %>
    </div>
    <div class="field">
      <%= a.label :street %><br>
      <%= a.text_field :street %>
    </div>
    <div class="field">
      <%= a.label :zip_code %><br>
      <%= a.text_field :zip_code %>
    </div>
    <div class="field">
      <%= a.label :city %><br>
      <%= a.text_field :city %>
    </div>
    <div class="field">
      <%= a.label :country %><br>
      <%= a.text_field :country %>
    </div>
  <% end %>
  <div>
    <%= f.select :friend_ids, options_for_select(@possible_friends.map { |p| [ p.last_name, p.id ] }), include_blank: true %>
  </div>
  <div class="field">
    <%= f.select :degree_ids, options_for_select(@degrees.map { |degree| [degree.title, degree.id] }), {}, {multiple: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>