<%= form_for([@person, @pet]) do |f| %>

  <% @types.each do |t| %>
    <%= t.capitalize %>
    <%= f.radio_button(:type, t.capitalize) %>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
