<p>
  <strong>Type:</strong>
  <%= pet.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= pet.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= pet.age %>
</p>
<p>
  <%= link_to 'Edit Pet', edit_person_pet_path(@person, pet) %>
</p>
<p>
  <%= link_to 'Delete Pet', person_pet_path(@person, pet),
    method: :delete,
    data: {confirm: 'Are you sure?'} %>
</p>
